.emptyFillingsBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 32px;
  height: 80px;
  border: 2px solid #2F2F37;
  border-radius: 40px;
}

.emptyFillingsText {
  margin: 0;
  padding: 0;
  font-family: JetBrains Mono, Arial, serif;
  color: #8585AD;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
