.ingredientsGroupBlock {
  margin: 0;
  padding: 0 0 40px;
}

.header {
  margin: 0;
  padding: 0 0 24px;

  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.container {
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 32px;
}
