.profile {
  margin: 40px auto 0;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 1280px;
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: auto;
  grid-gap: 60px;
}

.navContainer {
  max-width: 320px;
  top: 0;
  left: -380px;
  padding-top: 80px;
}

.navBar {
  margin-bottom: 80px;
}

.navList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navItem {
  margin: 0;
  padding: 0;
  min-height: 64px;
  display: flex;
  align-items: center;
  transition: ease-in-out .3s;
}

.navItem:hover {
  opacity: .6;
  cursor: pointer;
}

.navLink {
  text-decoration: none;
  color: inherit;
}

.navDescription {
  margin: 0;
  padding: 0;
  opacity: 0.4;
  color: #8585AD;
}

