.modal {
  width: 720px;
  padding: 40px 40px 60px;
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: minmax(64px, auto) auto;
  border-radius: 40px;
  border: 1px solid rgba(76, 76, 255, 0.20);
  background: #1C1C21;
  align-self: center;
  position: relative;
}

.header {
  display: grid;
  grid-template-columns: 580px 24px;
  grid-column-gap: 36px;
  align-items: center;
  grid-template-areas:
  'A B';
}

.closeBtnInner {
  grid-area: B;
  transition: .3s ease-in-out;
}

.closeBtnInner svg:hover {
  cursor: pointer;
  opacity: .6;
}
.closeBtnOuter {
  position: absolute;
  right: -20px;
  top: -20px;
  transition: .3s ease-in-out;
}

.closeBtnOuter svg:hover {
  opacity: .6;
  cursor: pointer;
}
